<div class="announcement" [ngClass]="{'announcement-block': isAnnouncement}">
    <div class="container">
        <div class="row">
            <!--<h1 class="title ">{{'CATEGORY.SETTINGS' | translate}}</h1>-->
            <h1 class="title ">announcement</h1>
            <div class="col-12">
                <vg-player (onPlayerReady)="onPlayerReady($event)">
                    <!--<vg-overlay-play></vg-overlay-play>-->
                    <vg-buffering></vg-buffering>

                    <vg-scrub-bar style="pointer-events: none;">
                        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>

                    <vg-controls>
                        <!--<vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>-->

                        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                        <!--<vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>-->

                        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

                        <vg-mute></vg-mute>
                        <vg-volume></vg-volume>

                        <vg-fullscreen></vg-fullscreen>
                    </vg-controls>

                    <video #myMedia [vgMedia]="myMedia" id="my-video" crossorigin
                            [vgHls]="mediaUrl ? mediaUrl : ''"
                           [vgDash]="mediaUrl ? mediaUrl : ''">
                    </video>
                </vg-player>
            </div>
        </div>
    </div>
</div>
