<div class="container">
    <div class="row">
        <div class="col-12">
            <vg-player>
                <vg-overlay-play></vg-overlay-play>
                <vg-buffering></vg-buffering>

                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                    <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                </vg-scrub-bar>

                <vg-controls>
                    <vg-play-pause></vg-play-pause>

                    <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                    <vg-scrub-bar></vg-scrub-bar>

                    <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                    <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

                    <vg-mute></vg-mute>
                    <vg-volume></vg-volume>

                    <vg-fullscreen></vg-fullscreen>
                </vg-controls>

                <video #myMedia [vgMedia]="myMedia" id="my-video" type="video/mp4"  loop="loop" crossorigin  width="100%" height="600"
                       [vgHls]="'api/src/movies/1/out_bobs_test1.m3u8'" [vgDash]="'api/src/movies/1/out_bobs_test1.m3u8'">
                </video>
            </vg-player>
        </div>
    </div>
</div>