<div class="container">
    <div class="row">
        <h1 class="title">{{ 'CATEGORY.FLIGHT_STATUS' | translate }}</h1>
        <div class="flight-status">
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.LATITUDE.TITLE' | translate }}</p>
                <p class="value">{{data.latitude}} {{ 'FLIGHT_STATUS.LATITUDE.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.LONGITUDE.TITLE' | translate }}</p>
                <p class="value">{{data.longitude}} {{ 'FLIGHT_STATUS.LONGITUDE.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.GROUND_SPEED.TITLE' | translate }}</p>
                <p class="value">{{data.speed}} {{ 'FLIGHT_STATUS.GROUND_SPEED.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.TRACK_ANGLE.TITLE' | translate }}</p>
                <p class="value">{{data.angle}} {{ 'FLIGHT_STATUS.TRACK_ANGLE.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.ROLL_ANGLE.TITLE' | translate }}</p>
                <p class="value">{{data.rollAngle}} {{ 'FLIGHT_STATUS.ROLL_ANGLE.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.ROLL_RATE.TITLE' | translate }}</p>
                <p class="value">{{data.rollRate}} {{ 'FLIGHT_STATUS.ROLL_RATE.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.ALTITUDE' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.VERTICAL_VELOCITY.TITLE' | translate }}</p>
                <p class="value">{{data.verticalVelocity}} {{ 'FLIGHT_STATUS.VERTICAL_VELOCITY.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.DESTINATION_ETA' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.TIME_UTC' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.TIME_UTS' | translate }}</p>
                <p class="value">{{data.timeUTS}}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.DATE' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.FLIGHT_LEG' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.FLIGHT_NUMBER' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.DISTANCE_TO_GO.TITLE' | translate }}</p>
                <p class="value">{{ 'FLIGHT_STATUS.DISTANCE_TO_GO.VALUE' | translate }}</p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.TIME_TO_GO' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.ORIGIN_AIRPORT' | translate }}</p>
                <p class="value"></p>
            </div>
            <div class="status">
                <p class="property">{{ 'FLIGHT_STATUS.DESTINATION_AIRPORT' | translate }}</p>
                <p class="value"></p>
            </div>
        </div>
    </div>
</div>
