<div class="container">
    <div class="row">
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_movies" routerLink="/movies">
                <span class="icons icon-category icon-movies-large"></span>
                <p>{{'CATEGORY.MOVIES' | translate}}</p>
            </a>
        </div>
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_tv" routerLink="/tv-shows">
                <span class="icons icon-category icon-tv-shows-large"></span>
                <p>{{'CATEGORY.TV_SHOWS' | translate}}</p>
            </a>
        </div>
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_music" routerLink="/music">
                <span class="icons icon-category icon-music-large"></span>
                <p>{{'CATEGORY.MUSIC' | translate}}</p>
            </a>
        </div>
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_games" routerLink="/games">
                <span class="icons icon-category icon-games-large"></span>
                <p>{{'CATEGORY.GAMES' | translate}}</p>
            </a>
        </div>
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_status" routerLink="/flight-status">
                <span class="icons icon-category icon-flight-status-large"></span>
                <p>{{'CATEGORY.FLIGHT_STATUS' | translate}}</p>
            </a>
        </div>
        <div class="category col-12 col-sm-6 col-md-4">
            <a id="appium_home_settings" routerLink="/settings">
                <span class="icons icon-category icon-settings-large"></span>
                <p>{{'CATEGORY.SETTINGS' | translate}}</p>
            </a>
        </div>

        <div class="col-12 col-md-6">
            <a id="appium_home_assistance" routerLink="/assistance" class="btn action-button" role="button">
                <span class="icon-action icon-request-assistance"></span>
                <span>{{'HOME.REQUEST_ASSISTANCE' | translate}}</span>
            </a>
        </div>
        <div class="col-12 col-md-6">
            <a id="appium_home_menu" routerLink="/menu" class="btn action-button" role="button">
                <span class="icon-action icon-view-menu"></span>
                <span>{{'HOME.VIEW_MENU' | translate}}</span>
            </a>
        </div>
    </div>
</div>
